<div class="containar">
  <div class="row">
    <div class="col-4 mx-auto">
      <h2 class="mx-auto">新規登録</h2>
      <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
        <div class="field">
          <%= f.label :名前, class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :出身県, class: "form-label"  %><br>
          <%= f.select :prefecture, User.prefectures.keys, {prompt: '選択してください'}, class: 'form-select' %>
        </div>
        <div class="field">
          <%= f.label :メールアドレス, class: "form-label"  %><br />
          <%= f.email_field :email, autocomplete: "email", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :パスワード, class: "form-label"  %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :パスワード（確認）, class: "form-label"  %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
        <div class="actions">
          <%= f.submit "登録する", class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

