<div class="container">
  <div class="row">
    <div class="col-8">
      <% if @user == current_user %>
        <h3>マイページ</h3>
      <% else %>
        <h3><%= @user.name %>さんの情報です</h3>
      <% end %>
      <h4><strong>登録情報</strong></h4>
        <table class="table table-hover table-bordered mt-2">
          <tbody id="user_<%= @user.id %>">
            <tr>
              <tb class="table-active">
                <%= attachment_image_tag @user, :image, size: "200x200", fallback: "no_image.jpg" %>
              </tb>
            </tr>
            <tr>
              <td class="table-active">名前</td>
              <td><%= @user.name %></td>
            </tr>
            <tr>
              <td class="table-active">出身地</td>
              <td><%= @user.prefecture %></td>
            </tr>
            <% if @user == current_user %>
            <tr>
              <td class="table-active">メールアドレス</td>
              <td><%= @user.email %></td>
            </tr>
            <% end %>
            <tr>
              <td>
                <%= link_to "フォロー数：#{@user.follower.count}", followings_user_path(@user.id) %>
              </td>
              <td>
                <%= link_to "フォロワー数：#{@user.followed.count}", followers_user_path(@user.id) %>
              </td>
              <% unless @user == current_user %>
                <td >
                 <%= render 'relationships/follow-btn', user: @user %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td><p>紹介文</p></td>
            </tr>
            <tr>
              <td><%= @user.comment %></td>
            </tr>
          </tbody>
        </table>

        <div class="col-4">
          <% if @user == current_user %>
          <p><%= link_to "編集する", edit_user_path(@user.id), class: "btn btn-sm btn-success ml-3" %></p>
          <p><%= link_to "ブックマーク一覧へ", bookmarks_user_path(current_user), class: "btn btn-sm btn-success ml-3" %></p>
          <p><%= link_to "新規投稿する", new_post_path, class: "btn btn-sm btn-primary ml-3" %></p>
          <p><%= link_to "退会する", confirm_user_path(@user.id), class: "btn btn-sm btn-danger mt-2" %></p>
          <% end %>
        </div>
      </div>
    </div>
</div>