<h2>編集画面</h2>
<%= render 'layouts/error', element: @post %>
<%= form_with model:@post, url: post_path(@post.id), local:true do |f| %>
  <table>
    <tbody>
      <tr>
        <td>画像</td>
        <td><%= f.attachment_field :image %></td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td><%= f.text_field :title, autofocus: true %></td>
      </tr>
      <tr>
        <td>内容</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td><%= f.label :prefecture, "都道府県" %></td><br>
        <td>
        <%= f.select :prefecture, Post.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        </td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "編集する", class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  </table>
<% end %>
<%= link_to "投稿を削除する", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
<%= link_to "詳細ページへ", post_path(@post) %>