<h2>新規投稿</h2>
<%= render 'layouts/error', element: @post %>
<%= form_with model: @post, url: posts_path, local:true do |f| %>
  <table>
    <tbody>
      <tr>
        <td>画像</td>
        <td><%= f.attachment_field :post_images_images, multiple: true %></td>
      </tr>
      <tr>
        <td>タイトル</td>
        <td><%= f.text_field :title, autofocus: true %></td>
      </tr>
      <tr>
        <td>内容</td>
        <td><%= f.text_area :description %></td>
      </tr>
      <tr>
        <td><%= f.label :prefecture, "都道府県" %></td><br>
        <td>
        <%= f.select :prefecture, Post.prefectures.keys, {prompt: '選択してください'}, class: 'form-control btn btn-info' %>
        </td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= f.text_field :address %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "投稿する", class: "btn btn-primary" %></td>
      </tr>
    </tbody>
  </table>
<% end %>

<%= link_to "マイページへ", mypage_user_path(current_user.id) %>