<h2>投稿詳細</h2>
<div class="containar">
  <h3><%= @post.title %></h3>
  <table>
    <tbody>
      <tr>
        <td><%= @post.prefecture %></td>
      </tr>
      <tr>
        <td>
          投稿者：<%= link_to "#{@post.user.name}", user_path(@post.user.id) %>
        </td>
      </tr>
    </tbody>
  </table>
  <div><%= attachment_image_tag @post, :image, size: "200x240", format: 'jpg', fallback: "no_image.jpg", class: "default_image" %></div>
  <table>
    <tbody>
      <tr>
        <td>
          <%= @post.description %>
        </td>
      </tr>
      <tr>
        <td><%= @post.address %></td>
      </tr>
      <tr id="post_<%= @post.id %>">
        <td class="favorite-btn"><%= render 'favorites/favorite-btn', post: @post %></td>
      </tr>
    </tbody>
  </table>
</div>
<% if @post.user == current_user %>
  <%= link_to "編集する", edit_post_path(@post.id), class:"btn btn-sm btn-success" %>
  <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
<% end %>


<div>
  <p>コメント数：<%= @post.post_comments.count %></p>
</div>

<div id = "comments">
  <%= render partial: 'post_comments/comment', locals: {post: @post} %>
</div>
<div class="new-comment">
  <%= render partial: 'post_comments/comment-form', locals: {post: @post, comment: @comment} %>
</div>