<div class="containar">
  <div class="title-img col-md-4 img-thumbnail text-center shadow ml-4">
    <h2>投稿詳細</h2>
  </div>
</div>
<div class="containar">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-header">
          <h3><%= @post.title %></h3>
        </div>
        <div classs="card-img">
          <%= attachment_image_tag @post, :image, format: 'jpg', fallback: "no_image.jpg", class: "default_image" %>
        </div>
        <div class="card-body">
          <h4 class="card-title"><%= @post.prefecture %></h4>
          <h5 class="card-subtitle mb-2 text-muted">
            タグ：
            <% @post_tags.each do |tag| %>
              <%= link_to tag.tag_name, tag_posts_path(tag_id: tag.id) %>
            <% end %>
          </h5>
          <p class="card-text"><%= @post.description %></br></br>
            投稿者：<%= link_to "#{@post.user.name}", user_path(@post.user.id) %></br>
            住所：<%= @post.address %>
          </p>
          <p id ="vote-counts">
        　　<%= render 'votes/vote-counts', post: @post %>
        　</p>
        </div>
        <% if user_signed_in? %>
          <ul class="list-group list-group-flush">
            <li id="favorite-btn" class="list-group-item"><%= render 'favorites/favorite-btn', post: @post %></li>
            <li id="vote-btn" class="list-group-item"><%= render 'votes/vote-btn', post: @post, vote: @vote %></li>
          </ul>
        <% end %>
      </div>
        <% if @post.user == current_user %>
          <%= link_to "編集する", edit_post_path(@post.id), class:"btn btn-sm btn-success" %>
          <%= link_to "削除する", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-sm btn-danger" %>
        <% else %>
          <p id="bookmark-btn"><%= render 'bookmarks/bookmark-btn', post: @post %></p>
        <% end %>
    </div>
  </div>
  
  <table>
    <tbody>
      <tr>
        <td>タグ</td>
        
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td>
          
        </td>
      </tr>
      
      </tr>
    </tbody>
  </table>
  <div></div>
  <table>
    <tbody>
      <tr>
        <td>
          
        </td>
      </tr>
      <tr>
        <td></td>
      </tr>
      
      <tr>
        
      </tr>
     
    </tbody>
  </table>
  <% if user_signed_in? %>
  <table>
    <tbody>
      <tr id="vote-btn">
      
      </tr>
      <tr>

      </tr>
    </tbody>
  </table>
  <% end %>
</div>
<div>
  <p>コメント数：<%= @post.post_comments.count %></p>
</div>

<div id = "comments">
  <%= render partial: 'post_comments/comment', locals: {post: @post} %>
</div>
<% if user_signed_in? %>
<div class="new-comment">
  <%= render partial: 'post_comments/comment-form', locals: {post: @post, comment: @comment} %>
</div>
<% end %>

<script type="text/javascript">
  function initMap() {
    //緯度経度を取得
    var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: test
    });

    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = '住所：<%= @post.address %>';
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 //上で指定した位置にピンを指す
    var marker = new google.maps.Marker({
      position:test,
      map: map,
      title: contentString
    });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>
<!--APIキーの取得 -->
<script async defer
              src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">

</script>
 <!-- 表示するマップの大きさ -->
<style type="text/css">
  #map { height: 300px;
         width: 35%;}
</style>

<!--Mapを表示 -->
<div id="map"></div>
