<% if post.voted_by?(current_user) %>
 <p>
   あなたは投票済みです：<%= link_to "投票を取り消す", post_votes_path(post), method: :delete, remote: true, class: "btn btn-sm btn-danger" %>
 </p>
<% else %>
  <%= form_with model: vote, url: post_votes_path(post) do |f| %>

      <%= f.radio_button :detail, "unknown", checked: "checked" %>
      <%= f.label "知らなかった！" %>

      <%= f.radio_button :detail, "have_heard" %>
      <%= f.label "聞いたことはある" %>
  
      <%= f.radio_button :detail, "have_been" %>
      <%= f.label "行ったことある" %>

      <%= f.radio_button :detail, "famous" %>
      <%= f.label "有名でしょ" %>

      <%= f.submit "投票する" %>
  <% end %>
<% end %>

